h2 {
    font-family: '源ノ角ゴシック', 'Hiragino Kaku Gothic Pro', 'Yu Mincho', sans-serif;
    color:rgba(231, 125, 208, 0.785);
}

h1 {
    font-family: '源ノ角ゴシック', 'Hiragino Kaku Gothic Pro', 'Yu Mincho', sans-serif;
    color:rgba(237, 150, 219, 0.658);
    font-size: 10;
}

body {
    background-image: url('a.jpg');
    margin: 40px;
    padding: 30;
    background-size: cover;

}

.navbar {
    background-color: #c0ffa7; 
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: rgb(149, 32, 32);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #61c65f;
    color: rgb(80, 44, 124);
}


.content {
    padding: 40px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #FFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
